<% include partials/header %>

<h1>This is the campgrounds page!</h1>

<a href="/campgrounds/new">Submit new campground</a>
<div>
    <% campgrounds.forEach((ele) => { %>
        <h4><%= ele.name %></h4>
        <img src="<%= ele.image %>" alt="">
    <% }) %>
</div>

<a href="/">Back to landing page</a>

<% include partials/footer %>